@import url('https://fonts.googleapis.com/css?family=Cabin|Lato|Quicksand|VT323');
html, body {
  margin: 0;
  height: 100%;
}

.img-brand {
  margin-top: -15px;
  width: 180px;
}
@media (max-width:991px) {
  .navbar-nav {
    margin-top: 25px !important;
  }
}

.panel-body {
  margin-left: 25px;
}

.m-top-5 {
  margin-top: 5px;
}

.m-top-15 {
  margin-top: 15px;
}

.m-top-20 {
  margin-top: 20px;
}

.m-top-35 {
  margin-top: 35px;
}

.m-top-45 {
  margin-top: 45px;
}

.m-top-332 {
  margin-top: 332px;
}

.m-top-30 {
  margin-top: 30px;
}

.m-top-80 {
  margin-top: 80px;
}

.m-left-15 {
  padding-left: 130px;
}

.m-bottom-15 {
  margin-bottom: 15px;
}

.m-bottom-25 {
  margin-bottom: 25px;
}

.m-bottom-35 {
  margin-bottom: 35px;
}

.m-top-300 {
  margin-top: 300px;
}

.hideme {
  opacity: 0;
}

/* FLECHA BACK-TO-TOP */

.back-to-top {
  display: none;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-image: url(../img/back-to-top.png);
  background-repeat: no-repeat;
  background-position: 50% 48%;
  background-color: rgba(69, 180, 90, 0.65);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  transition: all 250ms linear;
}

.back-to-top:hover {
  background-color: rgba(47, 205, 0, 0.69);
}

/* HEADER PAGINA (iconas: telefono, mail, localizacion) */

.call {
  padding-bottom: 12px;
  height: 110px;
  border-top: 11px solid rgb(61, 58, 58);
}

 .glyphicon.glyphicon-phone-alt, .glyphicon.glyphicon-envelope, .glyphicon.glyphicon-map-marker {
  font-size: 33px;
  padding-left: 13px;
  padding-top: 10px;
  color: rgb(106, 106, 106);
}

.circle {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  border: 2px solid rgb(203, 203, 203);
}

.header-text {
  margin-left: 12px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: rgb(106, 106, 106);
}

.header-text .title {
  line-height: 10px;
  font-family: 'VT323', monospace;
  color: rgb(11, 11, 11);
}

/* iconas del header responsive */

@media (max-width:995px) {
  .circle {
    width: 45px;
    height: 45px;
  }
  .glyphicon.glyphicon-phone-alt, .glyphicon.glyphicon-envelope, .glyphicon.glyphicon-map-marker {
    font-size: 23px;
    padding-left: 9px;
    padding-top: 6px;
  }
  .header-text h4 {
    margin-left: 12px;
    font-size: 16px;
  }
  .header-text .title {
    line-height: 8px;
    font-family: "VT323", monospace;
    color: rgb(11, 11, 11);
  }
}

.responsive-text {
  font-family: "Quicksand", sans-serif;
}

/* BARRA NAVEGACION */

.navbar {
  height: 75px;
  border-radius: 0;
  border-top: 3px solid rgb(135, 223, 64);
  -moz-box-shadow: 0px 1px 1px rgb(103, 255, 155);
  -webkit-box-shadow: 0px 1px 1px rgb(103, 255, 155);
  box-shadow: 0px 1px 1px rgb(103, 255, 155);
  margin-bottom: 0;
  z-index: 9999;
}

@media (max-width:767px) {
  .navbar {
    height: auto;
  }
}

.navbar-nav li a {
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 90%;
  padding-right: 4vw;
  padding-left: 4vw;
  padding-top: 25px;
  padding-bottom: 24px;
  min-width: 108px;
  text-align: center;
  color: rgb(251, 255, 246);
}

.navbar-nav li:hover {
  background-color: rgb(93, 93, 93);
  border-top: solid rgb(103, 255, 155);
  padding-bottom: 0;
  -webkit-transition: background-color 500ms ease-out;
  -moz-transition: background-color 500ms ease-out;
  -o-transition: background-color 500ms ease-out;
  transition: background-color 500ms ease-out;
}

.sticky-nav {
  /*overflow: hidden;*/
  position: fixed;
  top: 0;
  width: 100%;
}

/*@media (min-width: 398px){*/

.sticky-nav+.section-1 {
  padding-top: 100px;
  margin-top: 30px;
}

/*}*/

.sticky-nav+.descargas {
  padding-top: 100px;
  /*margin-top: 30px;*/
}

.sticky-nav+.serb {
  padding-top: 100px;
}

/* Links del navbar responsive */

@media (max-width:1350px) {
  .navbar-nav li a {
    padding-right: 3vw;
    padding-left: 3vw;
    min-width: 85px;
  }
}

@media (max-width:1200px) {
  .navbar-nav li a {
    font-size: 80%;
    padding-right: 2vw;
    padding-left: 2vw;
  }
}

@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid #222;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
  .navbar .navbar-collapse.in {
    background-color: #222;
  }
  .container-fluid > .navbar-collapse {
    margin-left: 0;
  }
  .container-fluid > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
  }
}

/*@media (max-width:930px) {
  .navbar-nav li a {
    font-size: 80%;
    padding-left: 2px;
    padding-right: 2px;
  }
}

@media (max-width:771px) {
  .navbar-nav li a {
    font-size: 80%;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
  }
}*/

@media (max-width: 768px) {
  .navbar .navbar-collapse.in {
    background-color: #222;
  }
}

@media (max-width: 380px) {
  .omg {
    font-size: 15px;
  }
}

/* FOOTER */

footer {
  background-color: #222;
  padding: 35px;
}

footer img {
  max-width: 290px;
  max-height: 107px;
}

footer h4 {
  color: rgb(126, 215, 46);
  font-family: 'Quicksand', sans-serif;
  border-left: 3px solid rgb(245, 251, 237);
  padding-left: 5px;
}

footer h5 {
  color: white;
  font-family: 'Cabin', sans-serif;
}

footer p {
  color: rgb(108, 108, 110);
}

/* INDEX CSS */

/* SECTION 1 */

.section-1 {
  background-image: url("../img/chipinfo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 365px;
}

.section-1 h1 {
  font-family: 'Cabin', sans-serif;
  font-weight: 900;
  font-size: 50px;
  color: white;
  float: left;
  border-bottom: 2px solid rgb(135, 223, 64);
}

.section-1 p {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  float: left;
}

.section-2 {
  margin-top: 25px;
  margin-bottom: 45px;
}

.section-2 h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: rgb(17, 17, 17);
  margin-bottom: 35px;
}

.section-2 h4 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 19px;
}

.glyphicon-signal, .glyphicon-list-alt, .glyphicon-download-alt, .glyphicon-cloud,.glyphicon.glyphicon-cog, .glyphicon.glyphicon-tasks, .glyphicon.glyphicon-lock, .glyphicon.glyphicon-save-file, .glyphicon.glyphicon-scale, .glyphicon.glyphicon-briefcase, .glyphicon.glyphicon-cloud-upload, .glyphicon.glyphicon-check, .glyphicon.glyphicon-wrench, .glyphicon.glyphicon-inbox, .glyphicon.glyphicon-print {
  font-size: 60px;
  color: rgb(103, 187, 63);
}

.service-links {
  color: black;
}

.service-links:hover {
  color: black;
  text-decoration: none;
}

.service-links:hover~.fr {
  background-color: black;
}

@media (max-width:985px) {
  .glyphicon.glyphicon-cog {
    margin-left: 0px;
  }
  .glyphicon-tasks {
    margin-left: 0px;
  }
  .glyphicon-lock {
    margin-left: 0px;
  }
}

/* SECTION 3 */

.section-3 {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 35px;
  text-align: center;
  background-color: rgb(239, 239, 233);
}

.section-3 h3 {
  font-family: 'Cabin', sans-serif;
  font-size: 27px;
  font-weight: 400;
  color: rgb(17, 17, 17);
}

.section-3 p {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  margin-top: 20px;
}

.carousel {
  margin-top: 20px;
  /*background-color: rgb(239, 239, 233);*/
}

#mm {
  margin-top: 10px;
}

.carousel h2 {
  text-align: center;
  margin-bottom: 50px;
}

/* SECTION 4 */

#map {
  height: 350px;
}

.section-4 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-4 h4 {
  font-family: "Cabin", sans-serif;
  font-size: 25px;
  font-weight: 900;
  display: inline-block;
}

.section-4 p {
  display: inline-block;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

/* EMPRESA.html */

.content-empresa {
  margin-top: 50px;
  margin-bottom: 150px;
  text-align: justify;
}

.content-empresa h1 {
  text-align: center;
  margin-bottom: 15px;
}

.content-empresa p {
  font-family: 'Quicksand', sans-serif;
}

.content-empresa h4 {
  text-align: center;
  font-family: 'Cabin', sans-serif;
  font-size: 23px;
}

/* SERVICIOS.html */

.expand-info {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.hidden-div {
  display: none;
}

.main-paragraph {
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
}

.content-servicios {
  margin: 25px;
}

.content-servicios h5 {
  display: inline;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
}

.content-servicios h6 {
  display: inline;
  font-family: "Quicksand", sans-serif;
}

/* DESCARGAS.html */

.descargas h4 {
  font-family: 'Cabin', sans-serif;
  margin-top: 45px;
}

.descargas p {
  font-family: 'Quicksand', sans-serif;
  margin-top: 15px;
  text-align: justify;
}

.descargas a {
  text-decoration: none;
  color: rgb(45, 45, 45);
  font-weight: 900;
}

.remote {
  max-width: 80px;
}

/* CONTACTOS.html */

.casi-nadie-lo-lee-lol {
  text-align: justify;
  font-size: 10px;
  font-family: "Quicksand", sans-serif;
}

.contacto h4 {
  margin-top: 45px;
  font-family: "Cabin", sans-serif;
  font-size: 25px;
}

.omg {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

.contacto button {
  margin-top: 15px;
}

.contacto form {
  margin-bottom: 15px;
}

.contacto label {
  font-family: "Quicksand", sans-serif;
}
